.image {
  position: absolute;
  top: 5%;
  left: 4%;
  width: 90%;
  border-radius: 15px;
}

.image:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.sidebar {
  width: 12%;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #3366ff, #99ccff);
  transition: transform 0.5s;
  margin-left: 0;
  position: absolute;
  top: 0%;
  border-radius: 0px 10px 10px 0px;
}

.hide-sidebar {
  transform: translateX(-12vw);
}

.sidebarimage {
  width: 1.5vw;
}